fixes:
- in: https://artistsbeware.info/beware/submissions/artist-bewares/beware-abcdefgh-r0000/
  change:
    - what: where
      from: |-
        WHERE: https://www.furaffinity.net/user/abcdefgh/
        Discord: abcdefgh#0000 (available via their FA)
      to: |-
        https://www.furaffinity.net/user/abcdefgh/
        Discord: abcdefgh#0000

- in: https://artistsbeware.info/beware/submissions/client-cautions/caution-abcdefgh-r0000/
  change:
    - what: tag
      from: 'cilent'
      to:   'client'
