<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>Artists Beware data consolidation</title>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        {% include 'vlkv/templates/styles.css' %}
    </style>
</head>
<body>
<div class="container pt-2">
    <h1>Artists Beware data consolidation</h1>

    <div class="row">
        <div class="col-md-6">
            <p>
                All the data presented below comes from <a href="https://artistsbeware.info/about-us/">artistsbeware.info</a> ("<em>AB</em>").
            </p>
            <p>
                Even though the data has been processed/transformed, the creator of this website claims absolutely no rights to the data presented below.
            </p>
            <p>
                There may happen some processing errors, which would render the (otherwise correct on the <em>AB</em>'s side) data in an incorrect way here. If any data is correct on the <em>AB</em>'s side, but displayed incorrectly here, the creator of this website is to blame <small>(please don't kill me)</small>.
            </p>
            <p class="small">
                <a href="#devStuff">Integration and dev stuff</a>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <strong>Fixes/corrections/complaints:</strong> If the information you disagree with can be found on <em>AB</em> website (meaning, you see the information you disagree with after clicking the links in the table below on the right) - you should contact <em>AB</em>, <a href="https://artistsbeware.info/postedtoab/">check here</a> or <a href="https://artistsbeware.info/contact/">here</a>. If the data is right on <em>AB</em>, but displayed wrong here, please contact the owner of <a href="https://getfursu.it/info.html#contact">this website</a>. In case of any doubts, please contact either of us.
            </p>
            <p>
                <strong>Note:</strong> The data presented below is not live, which means that some recent changes on <em>AB</em> may not have been reflected here yet. Last update: {{ last_update|date("yyyy-MM-dd HH:mm") }} UTC.
            </p>
        </div>
    </div>

    <hr>

    <div class="row align-items-center g-2 mb-1 d-none additional-search-template">
        <div class="col-auto">
            <button class="btn btn-danger font-monospace" type="button">-</button>
        </div>
        <div class="col">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control searched-text" type="text" placeholder="Search simultaneously for...">
        </div>
    </div>

    <div class="row align-items-center g-2 mb-1">
        <div class="col-auto">
            <button class="btn btn-success font-monospace" type="button" id="addSearch">+</button>
        </div>
        <div class="col">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input class="form-control searched-text" type="text" id="primarySearchField" placeholder="Search for...">
        </div>
    </div>

    <div class="row align-items-center g-2">
        <div class="col">
            <button class="btn btn-primary" type="button" id="searchButton">Search</button>
            <button class="btn btn-secondary me-4" type="button" id="clearButton">Clear</button>
        </div>
        <div class="col text-end">
            <button class="btn btn-success" id="searchHintsButton" type="button" data-bs-toggle="collapse" data-bs-target="#searchHints" aria-expanded="false" aria-controls="searchHints">
                {% set search_hints_label = 'How to search effectively?' %}
                {{ search_hints_label }}
            </button>
        </div>
    </div>

    <div class="card collapse mt-4" id="searchHints">
        <div class="card-header">
            How to search effectively?
        </div>
        <div class="card-body">
            <ul class="card-text">
                <li>Searches are case-insensitive, e.g. <code>TheBewaree</code> is the same as <code>theBEWAREE</code> (there are exceptions: non-standard letters, i.a. with diacritics like <code>Ä Ê</code>, and more)</li>
                <li>Search separately each word in the name, e.g. instead of looking for <code>Artists Beware</code>, search once for <code>Artists</code> and then for <code>Beware</code>, or</li>
                <li>If the bewaree's name contains a space, try to look without it, e.g. instead of <code>Artists Beware</code> look for <code>ArtistsBeware</code></li>
                <li>If the bewaree's name contains a dash or other character, try to look for particular parts, e.g. instead of looking for <code>Artists-Beware</code> look for <code>Artists</code> and <code>Beware</code> separately</li>
                <li>Search for the name in singular, e.g. instead of <code>Bewarees</code> try looking for <code>Bewaree</code></li>
                <li>Try searching without the <code>'s</code>, e.g. instead of <code>Bewaree's</code> or <code>Bewarees'</code> try searching <code>Bewaree</code></li>
                <li>Removing non-letter characters / decorators may help, e.g. instead of <code>=Bewaree=</code> or <code>Bewaree!</code> try looking for <code>Bewaree</code></li>
                <li>Do not include <code>the</code>, e.g. instead of <code>The Bewaree</code> search for <code>Bewaree</code></li>
            </ul>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#searchHints" aria-expanded="false" aria-controls="searchHints">
                OK, got it
            </button>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Names/tags</th>
                <th>Urls</th>
                <th>Bewares/cautions</th>
            </tr>
        </thead>
        <tbody id="recordsRows">
            {% filter easy_diff %}
                {% for subject in subjects %}
                    {%- include 'vlkv/templates/subject_row.html' -%}
                {% endfor %}
            {% endfilter %}
        </tbody>
    </table>
</div>

<div class="container pt-2">
    <div class="alert alert-primary mb-5" role="alert" id="noMoreResultsAlert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Info:">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>

        No more results to show. You may want to change the search by following the suggestions available by clicking the <a href="#searchHintsButton">{{ search_hints_label }}</a> button above.

        <p class="small text-end mb-0">Remember: desired search results are like <a href="https://youtu.be/MqsS9bgYBpI?t=90" target="_blank">ninjas</a>.</p>
    </div>

    <h2 id="devStuff">Integration and dev stuff</h2>

    <div class="row">
        <div class="col-md-6">
            <h5 class="mt-2">Creating "search" links</h5>

            <p>
                To create a link to this website with the search field prepopulated with a value, add an anchor starting with <code>search:</code>, followed by term(s) to search (URL-encoded, obviously), like this: <code>#search:Searched%20terms%20%5BURL-encoded%5D</code>. For example:
                <!--suppress HtmlUnknownAnchorTarget -->
                <a href="#search:Searched%20terms%20%5BURL-encoded%5D" target="_blank">Search for "Searched terms [URL-encoded]"</a>.
            </p>

            <p>
                To search more than one terms at once, you can use JSON array of strings,
                <!--suppress HtmlUnknownAnchorTarget -->
                <a href="#search:%5B%22Multiple%20terms%22,%22example%22,%22I%20am%20a%20JSON%20array%22%5D" target="_blank">click here for an example</a>.
                Console messages may help you debug any issues. Array of a single term to look for is OK too.
            </p>
        </div>
        <div class="col-md-6">
            <h5 class="mt-2">Options</h5>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkboxShowIssues">
                <label class="form-check-label" for="checkboxShowIssues">
                    Show boring and useless processing messages above
                </label>
            </div>

            <h5 class="mt-2">GitHub</h5>

            <a href="https://github.com/veelkoov/HoldMyAB">veelkoov/HoldMyAB</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    {% include 'vlkv/templates/scripts.js' %}
</script>
</body>
</html>
