<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>Artist Beware bewared DB analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Names</th>
                <th>Urls</th>
                <th>Bewares/cautions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>
                        {% for name in subject.names %}
                            <span class="badge rounded-pill bg-secondary">{{ name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for url in subject.urls %}
                            <a href="{{ url }}" target="_blank"><span class="badge rounded-pill bg-secondary">{{ url|shorter_url }}</span></a>
                        {% endfor %}
                    </td>
                    <td>
                        <ul>
                            {% for beware in subject.bewares %}
                                <li>
                                    {%- if beware.resolved %}<s>{% endif -%}

                                    <a href="{{ beware.url }}" target="_blank">{{ beware.url|shorter_ab_url }}</a>

                                    {%- if beware.resolved -%}
                                        </s>&nbsp;<span class="badge rounded-pill bg-success">R ❤️</span>
                                    {%- elseif beware.isBeware -%}
                                        &nbsp;<span class="badge rounded-pill bg-danger">B️</span>
                                    {%- else -%}
                                    &nbsp;<span class="badge rounded-pill bg-warning">C️</span>
                                    {%- endif -%}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if not subject.issues.empty %}
                    <tr>
                        <td>
                            Specific processing for the above:
                        </td>
                        <td colspan="2">
                            <ul>
                                {% for issue in subject.issues %}
                                    <li>{{ issue }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
