<tr>
    <td class="names">
        {% for tag in subject.tagsSorted %}
            <span class="badge rounded-pill bg-secondary">{{ tag }}</span>
        {% endfor %}

        {% for name in subject.namesSorted %}
            <span class="badge rounded-pill text-bg-light">{{ name }}</span>
        {% endfor %}
    </td>
    <td class="urls">
        {% for url in subject.urlsSorted %}
            <a href="{{ url }}" target="_blank"><span class="badge rounded-pill text-bg-light">{{ url|shorter_url }}</span></a>
        {% endfor %}
    </td>
    <td class="bewares">
        <ul>
            {% for beware in subject.bewaresSorted %}
                <li>
                    {%- if beware.resolved -%}
                        <span class="badge rounded-pill bg-success">R &heartsuit;</span>&nbsp;
                    {%- elseif beware.isBeware -%}
                        <span class="badge rounded-pill bg-danger">B</span>&nbsp;
                    {%- else -%}
                        <span class="badge rounded-pill bg-warning">C</span>&nbsp;
                    {%- endif -%}

                    {%- if beware.isArchive -%}
                        <span class="badge rounded-pill text-bg-light">archive</span>&nbsp;
                    {%- endif -%}

                    {%- if beware.resolved %}<s>{% endif -%}

                    <a href="{{ beware.abUrl }}" target="_blank" class="text-decoration-none">{{ beware.abUrl|shorter_ab_url }}</a>

                    {%- if beware.resolved %}</s>{% endif -%}

                    {% if beware.isNsfw %}
                        <span class="badge rounded-pill bg-danger">NSFW/18+</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </td>
</tr>

{% if not subject.issuesSorted.empty %}
    <tr class="issues small">
        <td>
            Processing messages for the row above:
        </td>
        <td colspan="2">
            <ul>
                {% for issue in subject.issuesSorted %}
                    <li>{{ issue }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endif %}
